@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Love+Ya+Like+A+Sister&family=Lovers+Quarrel&family=Shadows+Into+Light&display=swap');
	
:root {
    --cor-primaria: #d2f1e4;
    --cor-secundaria: #48304d;
    --cor-terciaria: #f865b0;
}

*{
	margin: 0;
	padding: 0;
}
body{
	box-sizing: border-box;
	background-color: var(--cor-primaria);
}
.cabecalho{	
	background-color: var(--cor-secundaria);
	
}
.cabecalho__menu{
	display: flex;
	gap: 80px;
	padding: 2% 0 2% 15%;
}
.cabecalho__menu__item{
	font-weight: bold;
	font-size: 1,5rem;
	color: var(--cor-primaria);
	text-decoration: none;

}
.main{
	padding: 5% 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 82px;
}
.main__first{
	display: flex;
	width: 50%;
	flex-direction: column;
	gap: 80px;
}
.main__fotos{
	padding: 5% 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 82px;
}
.imgindex{
	width: 50%;
}
.main__first__titulo{
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 2.25rem;
	color: var(--cor-terciaria);
}
.main__first__paragrafo{
	font-size: 1.5rem;
	font-family: 'Edu NSW ACT Foundation', cursive;
	font-weight: bold;
	color: var(--cor-terciaria);
}
.main_second{
	width: 100%;
	padding-top: 5%;

}
.main__second__titulo{
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 2.5rem;
	color: var(--cor-terciaria);
	padding-bottom: 2%; 
}
.main__second__paragrafo{
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Edu NSW ACT Foundation', cursive;
	font-weight: bold;
	color: var(--cor-terciaria);
	padding-right: 6%; 
	padding-left: 6%;
}

/*Nossas Fotos*/

.main__img{
	width: 70%;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}
.Fotos{
	transition: 1s all;
}
.Fotos:hover{
	transform: scale(1.2);

}

@media(max-width: 1000px){

		.main{
			flex-direction: column;
		}
		.main__fotos{	
			display: flex;
			justify-content: stretch;
			gap: 82px;
			padding: 0;
			padding-top: 5%;
		}
		.main__first{
			text-align: center;
		}
		.main__first__titulo{
			font-size: 1rem;
		}
		.main__first__paragrafo{
			font-size: 0.65rem;
		}
		.cabecalho__menu{
			justify-content: center;
			padding: 10%;
		}
		.main__second__titulo{
			padding: 10%;
			font-size: 1rem;
		}
		.main__second__paragrafo{
			font-size: 0.65rem;
		}




}
